.main-content-wrapper {
    padding-left: 8.18rem;
    padding-top: 22.72rem;
    padding-bottom: 16rem;
  }
  .main-content-title {
    font-family: Inter;
    font-weight: bold;
    font-size: 2.9rem;
    line-height: 2.18rem;
    text-align: left;
    letter-spacing: -0.14rem;
    color: #6166dc;
    margin-bottom: 4.09rem;
  }
  .main-content2 {
    font-family: Inter;
    font-weight: 900;
    font-size: 5.45rem;
    line-height: 5.81rem;
    letter-spacing: -0.22rem;
    color: #2a94dc;
  }
  .main-content3 {
    font-family: Inter;
    font-weight: 900;
    font-size: 5.45rem;
    line-height: 5.81rem;
    letter-spacing: -0.22rem;
    color: #fff;
    margin-bottom: 4.09rem;
  }
  .main-content-desc {
    font-family: Inter;
    font-size: 1.81rem;
    line-height: 2.9rem;
    letter-spacing: -0.03rem;
    color: #d9d9d9;
    text-align: left;
    width: 53%;
  }
  .main-content-mobile-number {
    width: 27.81rem;
    height: 5.36rem;
    background: #ffffff;
    border: 3px solid #333333;
    box-sizing: border-box;
    border-radius: 8px 0px 0px 8px;
    font-family: Inter;
    font-size: 1.81rem;
    line-height: 2.18rem;
    letter-spacing: 0.01em;
    padding-left: 5rem;
  }
  .main-content-get-started-btn {
    width: 17.27rem;
    height: 5.36rem;
    background: #ffffff;
    box-shadow: inset -3px 0px 0px #333333, inset 0px 3px 0px #333333,
      inset 0px -3px 0px #333333;
    border-radius: 0px 8px 8px 0px;
    outline: none;
    border: none;
    font-family: Inter;
    font-weight: 600;
    font-size: 1.81rem;
    line-height: 2.18rem;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
  }
  .mc-input-btn-wrapper {
    margin-top: 7.27rem;
    margin-bottom: 3.63rem;
  }
  .mc-supported-brokers-title {
    font-family: Inter;
    font-weight: 600;
    font-size: 1.45rem;
    line-height: 2.9rem;
    letter-spacing: -0.4px;
    color: #ffffff;
    margin-bottom: 0.9rem;
  }
  .mc-input-prefix {
    font-family: Inter;
    font-size: 1.81rem;
    line-height: 2.18rem;
    letter-spacing: 0.01em;
    background: #ffffff;
    position: absolute;
    top: 1.6rem;
    left: 1.6rem;
  }